/* Default left, right, top, bottom margin is 2cm */
@page {
    margin: 1.5cm;
}
/* First page, 10 cm margin on top */
@page :first {
    margin-top: 2cm;
}
/* Left pages, a wider margin on the left */
@page :left {
    margin-left: 2cm;
    margin-right: 2cm;
}
/* Right pages, a wider margin on the Right */
@page :right {
    margin-left: 2cm;
    margin-right: 2cm;
}

* {
    color: #000 !important;
}

.noprint,
footer,
aside {
    display: none !important;
}

/*a {
    border: 0;
    text-decoration: none;
    word-wrap: break-word;
    background: transparent;
}*/

a img {
    border: 0;
}

.text a[onclick*="print"] {
    display: none;
}

h1, h2, h3,
.h1, .h2, .h3 {
    page-break-inside: avoid;
    page-break-after: avoid;
}

p, li, blockquote {
    orphans:3;
    widows:2;
}

.termText {
    display: block !important;
    overflow: visible !important;
}


/*CustomStyles ]*/
body,
.l-body {
    font-size:18px;
}
.b-header_top,
.b-skbsites,
.b-header_services,
.b-markers,
.l-footer,
.b-navigation,
.b-seminar-rubrics,
.b-remind,
.b-save,
.b-print,
.b-ask,
.b-header-top-services,
.b-map,
.b-right-delim,
.b-right-hr,
.b-news,
.b-rubrics,
.b-lecturers,
.b-markers-u,
.b-markers-u-marker,
.b-pager,
.b-seminar-filer_fill,
.b-menu-left,
.b-other-seminars,
.seminarInfo-discount,
.b-inner-menu,
.superAction,
.b-signup,
.AddThisPanel,
.seminarExtraLinks,
.b-markers-u,
.b-mark-image,
.seminarInfo-bottomShadow,
.main-menu,
.mainMenu-itemsWrap,
.contacts-callback,
.mainFrame-right,
.slash,
.itemHeader-backUrl,
.seminarLecturers-ask,
.seminarView-shareblock,
.social-wrapper,
.footer-languageChoice,
.footer-menu-list,
.mainMenu_bottom,
.userBlock,
.lecturerMask,
.shadowBottom,
.visualDirection__menu,
.slider-control
{
    display:none !important;
}
.logo {
    visibility: visible !important;
}
ul {
    list-style-type: none !important;
}
.mainFrame-wrapper {
    border: none !important;
}

.b-mark {
    filter:none;
}
.itemHeader-title,
.b-mark span {
    color:#000 !important;
    font-weight:bold;
}
.b-skb-edu {
    left:0;
    top:0;
    position:relative;
    float:left;
}
.b-today {
    padding-top:0;
}
.l-body {
    width:100%;
    height:auto;
    min-width:0;
}
.l-main {
    min-height:0;
}
.l-columns {
    padding:0;
}
.l-content {
    clear:none !important;
    overflow:visible;
    padding:0 !important;
}
.l-content-right {
    padding-top:15px;
    padding-bottom:0;
}
.l-main_hide-left .b-fixwidth {
    max-width:inherit;
    width:auto;
}
.b-header_phone {
    margin-left:-300px;
    margin-top: -50px;
}
.b-header_phone-numbers.small-size {
    font-size: 27px;
}
.b-print-hr {
    display:block;
    width:100%;
    position:relative;
    left:0;
    top:15px;
}
.text ul {
    margin-left:20px;
    list-style-type:disc;
}
.text ul li {
    padding-left:0;
}
.b-menu {
    display: none;
}

.col-xs-8_two-column-content {
    width: 100% !important;
}
.col-xs-4_two-column-sidebar {
    display: none;
}
.dropdown-title__title + .popover {
    display: none !important;
}
/*поисследовать проблему в типографике*/
/*.text ul:not(.tabs) li:before {
    content: '\2014\a0' !important;
    top: 0 !important;
    height: 0;
}*/
.lesson-preview__desc,
.question-list__body{
    display: block !important;
    opacity: 1 !important;
}
.reviewsSlider .cycle-slideshow {
    height: auto !important;
    overflow: auto !important;
}
.reviewsSlider .cycle-slide {
    padding: 0px;
    margin: 0px;
    height: auto !important;
    position: static !important;
    visibility: visible !important;
    overflow: hidden;
}
